<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      タスク登録
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">タスク登録</ion-title>
    </ion-toolbar>
  </ion-header>

  <form class="ion-padding" (submit)="addTodo()" #f="ngForm">
    <ion-item lines="full" class="ion-paddding-bottom">
      <ion-label position="floating">Todo</ion-label>
      <ion-input type="text" [(ngModel)]="todo" name="todo" required minlength="1" maxlength="20"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!f.form.valid">
      追加
    </ion-button>
  </form>
</ion-content>
