<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      このアプリについて
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">このアプリについて</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/images/sunrise.jpg" />
    <ion-card-header>
      <ion-card-title>Ionic5 localStorage Todo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><a href="https://github.com/adash333/ionic5-localStorage-todo">https://github.com/adash333/ionic5-localStorage-todo</a></p>
      <p><a href="https://i-doctor.sakura.ne.jp/font/?p=42864">このアプリの解説</a></p>
      <p>original code from <a href="https://amzn.to/2JJrCXv">Ionicで作る モバイルアプリ制作入門</a></p>
      <p></p>
      <p>Photo by <a href="https://pixabay.com/ja/users/JancickaL-3757113/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4987384">Lukáš Jančička</a>, <a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4987384">Pixabay</a>.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
